<div menu flex row>
    <div menu-left flex col grow>
    </div>
    <div menu-center flex col>
        <img src="./assets/logo.png" />
    </div>
    <div menu-right flex-col grow>
    </div>
</div>
<div site-menu flex row center>
    <ul flex row>
      <li class="active">Home</li>
      <li>About</li>
      <li>Shop Mens</li>
      <li class="logo"></li>
      <li>Shop Womens</li>      
      <li>Sizes</li>      
      <li>Contact</li>
    </ul>
</div>
<div hero flex row center>  
    <div flex col end>
        <label>Shop Now<i class="fa fa-chevron-right" aria-hidden="true"></i></label>
    </div>  
</div>
<div content flex row center>
    <div body flex row center>
        <div block class="flex col center">
            <img src="./assets/slide_1.jpg" />
            <label><span>Shop</span>Mens<i class="fa fa-chevron-circle-right" aria-hidden="true"></i></label>
        </div>
        <div block class="flex col center">
            <img src="./assets/slide_6.jpg" />
            <label><span>Shop</span>Womens<i class="fa fa-chevron-circle-right" aria-hidden="true"></i></label>
        </div>
        <div block class="flex col grow">
            <h3><span>DOUBS</span>CLOTHING</h3>
            <p>Doubs Clothing is made for tall men 6'6" through to 7'4" for men with long limbs.</p>
            <p>Doubs Women is made for 6'0 through to 6'10" or women with long torsos, long inseams or long limbs.</p>
            <p>Extra tall clothing in pants, jumpers, tshirts, long sleeve tops, sweats, jackets, dresses, shorts, playsuits.... everything.</p>
            <p class="hide">90% of our clothing is made in Melbourne, Australia to support this amazing country! We get denim from China & occasionally use an ethical factory in Bali for other amazing items of clothing.</p>
            <p class="hide">We guarantee it will fit. Worn and modeled by genuine tall people of all shapes and sizes. For sizing check on the item description on each page or see our sizing page in the menu item.</p>
            
            <div social class="flex col center grow">
                <h4><span>Follow</span>Us</h4>
                <div class="flex row center">
                    <i class="fa fa-facebook-square flex-1" aria-hidden="true"></i>
                    <i class="fa fa-twitter-square flex-1" aria-hidden="true"></i>
                    <i class="fa fa-youtube-square flex-1" aria-hidden="true"></i>
                    <i class="fa fa-pinterest-square flex-1" aria-hidden="true"></i>
                    <i class="fa fa-instagram flex-1" aria-hidden="true"></i>
                </div>
            </div>
        </div>
    </div>
</div>